:root{
  --teal: #33279e;
  --teal_hover: white;
}

*{
  font-family: 'Poppins', sans-serif;
}
.h-font{
  font-family: 'Poppins', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.custom-bg{
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.custom-bg:hover{
  background-color: var(--teal_hover);
  border-color: var(--teal_hover);
}

.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

.custom-alert{
  position: fixed;
  top: 80px;
  right: 25px;
  z-index: 1111;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  color: #bee60a;
}

.navbar-light .navbar-nav .nav-link {
  color: #eaeaea;
}

.bg-white {
  background-color: #0f2453!important;
  color: #f9f9f9;
}

.black-text {
  color: black;
}

/* .bg-light {
background-color: #073e76!important
} */


/*-- nav --*/

.navbar-brand {
  padding: 0;
  font-size: 31px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 25px;
  position: relative;
  font-weight: bold;
}

/* Add a line break */
.navbar-brand::before {
  content: '\A';
  white-space: pre;
}

.navbar-brand span {
     color: #8e8d8a;
}
p.logo_w3l_agile_caption {
  text-transform: uppercase;
  letter-spacing: 5.7px;
  font-size: 18px;
  color: #c79f07;
  text-shadow: 0px 1px 3px #454a47;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
