.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .dark-mode-toggle label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .dark-mode-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .dark-mode-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .dark-mode-toggle .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  .dark-mode-toggle input:checked + .slider {
    background-color: #2196F3;
  }
  
  .dark-mode-toggle input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .dark-mode-toggle input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Dark mode specific styles */
  .dark-mode {
    background-color: #222;
    color: #fff;
  }
  
  .dark-mode-toggle .slider {
    background-color: #444;
  }
  
  .dark-mode-toggle input:checked + .slider {
    background-color: #00bcd4;
  }
  
  .dark-mode-toggle input:checked + .slider:before {
    background-color: #fff;
  }
  
  /* Additional styles for dark mode */
  body.dark-mode nav .navbar ul li a {
    color: #fff;
  }
  
  body.dark-mode .content h1 {
    color: #fff;
  }
  
  body.dark-mode .content p {
    color: #ccc;
  }
  
  body.dark-mode .section h2 {
    color: #fff;
  }
  
  body.dark-mode footer p {
    color: #ccc;
  }
  