
@font-face {
    font-family: 'Poppins';
    /* src: url('path/to/Poppins-Regular.ttf') format('truetype'); */
    src: url('Poppins/Poppins-Regular.ttf') format('truetype');
    /* Add additional font styles if needed (e.g., font-weight, font-style) */
  }
  
  *{
 margin: 0;
 padding: 0;
 font-family:Georgia, 'Times New Roman', Times, serif
}
.banner {
width: 100%;
height: 100vh;
background-image:url(https://www.accessgov.ph/wp-content/uploads/2023/08/hero-blue-gradient-wavy-background.webp);
background-size: cover;
background-position: center;


}
.navbar{
    width: 85%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform:uppercase;
    font-size: medium;
    
}

.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
 
}
.content h1{
    font-size: 110px;
    line-height: 65px;
   font-weight: 600;
   font-family: 'Poppins', sans-serif; 
    color: rgb(255, 255, 255);
    
}
.content p {
    /* margin: 20px auto; */
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    font-weight: 300; /* Adjust the font weight as needed */
    line-height: 40px;
   
   
    
}

/* Common style for sections */
.section {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
}
.section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
.section p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

/* Common style for sections */
/* .con {
    width: 40%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
}



.con h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
.con p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
} */
/* button{
    width: 30px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid crimson;
    background: transparent;
    color: black;
    cursor: pointer;
} */




  


 /* Additional CSS for dropdown */
/* Dropdown styles */
/* Hide by default */
.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #bbb; 
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    border-radius: 6px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    transition: all 0.3s ease; /* Smooth transition */
}

/* Text color and padding */
.dropdown-content a {
    color: white; 
    padding: 12px 16px; 
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Lighter background on hover */
.dropdown-content a:hover {
    background-color: #333; 
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block; 
}

/* Change button background on hover */
.dropdown:hover .dropbtn {
    background-color: #555; 
}

.pdfItem {
    width: calc(50% - 20px); 
    margin: 10px;
    text-align: center;
}

.pdf-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 50px; 

  }
  
  .pdf-entry {
  margin: 2px; 
}


/* Style for the Contact Us section */
        /* #contact {
            width: 97%;
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
            margin-top: 20px;
        } */

        #contact h2 {
            margin-bottom: 10px;
            color: #333;
        }

        /* Style for the form */
        form {
            max-width: 300px;
            margin: auto;
        }

        label {
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        textarea {
            height: 150px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        footer {
            text-align: center;
            background-color: #f0f0f0; /* Background color of the footer */
            padding: 20px 0; /* Add some padding to the top and bottom */
        }
        footer p {
            color: black; /* Text color */
        }

        #scrollBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 99;
            font-size: 18px;
            background-color: #555;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            transition: background-color 0.3s, opacity 0.3s;
        }

        /* Hover effect */
        #scrollBtn:hover {
            background-color: #777;
        }


        