* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.inp {
  display: none;
}

.progressBar {
  width: 250px;
  background: rgb(196, 193, 193);
  padding: 15px 20px;
  position: relative;
}

.progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(75deg, rgb(11, 65, 173), rgb(179, 10, 165));
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.img {
  height: 250px;
  width: 300px;
  border: 3px solid crimson;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}

.selectImage {
  background: crimson;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}

.upload {
  background: green;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}

button {
  cursor: pointer;
  border: none;
  margin: 10px 0;
}

.filedata {
  background: cadetblue;
  padding: 10px 15px;
  font-size: 14px;
  max-width: 100px;
  text-overflow: ellipsis;
  border-radius: 10px;
  display: none;
  overflow: hidden;
  margin: 10px 0;
}

.imageUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  display: none;
}/*# sourceMappingURL=index.css.map */